<section class="share">
    <div class="meta share">
    <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style"><span class="meta-text"></span>
    <a class="jiathis_button_weixin"></a>
    <a class="jiathis_button_tsina"></a>
    <a class="jiathis_button_douban"></a>
    <a class="jiathis_button_twitter"></a>
    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
    </div>
    <script type="text/javascript" >
    var jiathis_config={
      summary:"",
      ralateuid:{
        "tsina":"5639257977"
      },
      shortUrl:false,
      hideMore:true
    }
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
</section>